<div class="opsportal-stage-container opsportal-padding-bottom-2x">

    <div class="gen-btn-list tool-balance-report-nav">
        <h2 class="opsportal-stage-title">
            Balance Report Tool 
                &nbsp;|&nbsp; 
                <a class="active-btn" href="#US">US Staff</a>
                &nbsp;|&nbsp; 
                <a href="#NATIONAL">National Staff</a>
        </h2>
        <ul class="us-report-steps list-unstyled list-inline">
        <li><a href="#upload" class="btn opsportal-btn opsportal-btn-dk active-btn" role="button">1. Upload CSV Report</a></li>
        <li><a href="#review" class="btn opsportal-btn opsportal-btn-dk" role="button">2. Review Report</a></li>
        <li><a href="#email" class="btn opsportal-btn opsportal-btn-dk" role="button">3. Send Email</a></li>
        </ul>

        <ul class="national-report-steps list-unstyled list-inline">
        <li><a href="#review" class="btn opsportal-btn opsportal-btn-dk" role="button">1. Review Report</a></li>
        <li><a href="#email" class="btn opsportal-btn opsportal-btn-dk" role="button">2. Send Email</a></li>
        </ul>

    </div>
    
    
    <div class="row">
        <div class='col-md-12 opsportal-stage-full'>
            <div class='tool-balance-container tool-balance-report-type'></div>
            <div class='tool-balance-container tool-balance-report-upload'></div>
            <div class='tool-balance-container tool-balance-report-review'></div>
            <div class='tool-balance-container tool-balance-report-send'></div>
            <div class='tool-balance-container tool-balance-report-send-national'></div>
        </div>			
    </div>

</div>