<div class="op-container op-stage-container">

	<div class="op-container op-stage-masthead tool-balance-report-nav">
		<h2>Balance Report Tool &nbsp;|&nbsp; <a class="active-btn" href="#US">US Staff</a> &nbsp;|&nbsp; <a href="#NATIONAL">National Staff</a></h2>
		<ul class="op-list pull-right us-report-steps">
	        <li class="pull-left"><a href="#upload" class="btn op-btn op-btn-dk active-btn" role="button">1. Upload CSV Report</a></li>
	        <li class="pull-left"><a href="#review" class="btn op-btn op-btn-dk" role="button">2. Review Report</a></li>
	        <li class="pull-left"><a href="#email" class="btn op-btn op-btn-dk" role="button">3. Send Email</a></li>
		</ul>
		
        <ul class="op-list pull-right national-report-steps">
			<li class="pull-left"><a href="#review" class="btn op-btn op-btn-dk" role="button">1. Review Report</a></li>
			<li class="pull-left"><a href="#email" class="btn op-btn op-btn-dk" role="button">2. Send Email</a></li>
        </ul>
	</div>
    
	<div class="op-stage-body">
    <!-- <div class='op-stage-full'> -->
        <div class='tool-balance-container tool-balance-report-type'></div>
        <div class='tool-balance-container tool-balance-report-upload'></div>
        <div class='tool-balance-container tool-balance-report-review'></div>
        <div class='tool-balance-container tool-balance-report-send'></div>
        <div class='tool-balance-container tool-balance-report-send-national'></div>
    </div>			


</div>