<div class="row">
	<div class="col-md-4 col-md-push-4">
		
		<div class="balrep-send-container">
			<div class="balrep-send">
				<span class="first"><a href="#" title="Click to send report" class="btn op-btn op-btn-dk" id="balance-report-send-btn">Click to send email report</a></span>

                <div class="memo">
                  <label for="mpd-report-memo">Memo:</label>
                  <textarea id="mpd-report-memo" placeholder="You may enter an optional note here that will be added to each report that is emailed"></textarea>
                </div>
						
			</div>
			<div class="balrep-indicator hide"><span></span></div>
		</div>
		
	</div>
</div>