<div class="opsportal-stage-container opsportal-padding-bottom-2x" id="balance-report-stage">
	<div class="opsportal-stage-main">
		<div class="row">
			<div class="col-md-6 col-md-push-3 opsportal-margin-top-2x">
				<p class="text-center opsportal-margin-top-2x">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a diam egestas, sodales sapien sed, pharetra nisi. Proin sit amet sem tortor.</p>
				<ul id="balrep-type-list">
					<li><a href="" title="US Staff" id="staff-us">US Staff</a></li>
					<li><a href="" title="National Staff" id="staff-national">National Staff</a></li>
				</ul>
			</div>
		</div>
		

	</div> <!-- end .opsportal-stage-main -->
</div> <!-- opsportal-stage-container -->