<div class="row">
	<div class="col-md-4 col-md-push-2">
		<form action="#" class="dropzone op-dropzone" id="staff-report-uploader">
			<div class="opsportal-dropzone-icon"><i class="fa fa-file-o fa-5x"></i></div>
			<div class="dz-message">Drop files here or click to upload.
				<span class="dz-note">Want to provide extra notes or instructions? Do it here.</span>
			</div>
		</form>
	</div>
	
	<div class="col-md-4 col-md-push-2 op-dropzone memo">
        <div>
          <label for="mpd-report-memo">Memo:</label>
          <textarea id="mpd-report-memo" placeholder="You may enter an optional note here that will be added to each report that is emailed"></textarea>
        </div>
	</div>
	
</div>