<div class="opsportal-stage-main">

		<div class="row">
			<div class="col-md-4 col-md-push-4 opsportal-margin-top-2x">
				
				<form action="#" class="dropzone" id="staff-report-uploader">
					<div class="dz-message">
						<span class="first">Drag file here</span>
						<span>- or -</span>
						<span class="opsportal-margin-top"><a href="#" title="Click to open the file browser" class="btn opsportal-btn opsportal-btn-dk">Click to open the file browser</a></span>
					</div>
				</form>
				
			</div>
		</div>
		
	</div> <!-- end .opsportal-stage-main -->
