#balrep-type-list { float: none; text-align: center; margin: 3em auto; }
#balrep-type-list > li { float: none; display: inline; }
#balrep-type-list li a, #balrep-type-list li a:hover {
	display: inline-block; width: 150px; height: 150px; border-radius: 50%; background-color: #737373; line-height: 150px; color: #fff; text-decoration: none; margin: 0 30px; font-weight: bold;
}
#balrep-type-list li a { opacity: 0.75; }

/* fix invisible links */
.opsportal-area-tool-MPDReport a.btn {
    background-color: #000;
}

.opsportal-area-tool-MPDReport div.memo {
    margin: 1em 0;
}
.opsportal-area-tool-MPDReport .memo textarea#mpd-report-memo {
    margin: .5em auto;
    width: 20em;
    height: 10em;
}

.balrep-income-expenditure.modal-content {
  padding: 1em;
}

.balrep-income-expenditure table th,
.balrep-income-expenditure table td {
  padding: .3em 1em;
}

td.balrep-deficit, td.balrep-months-deficit, td.balrep-12-deficit { background: #f00 !important; font-weight: bold; color: #CC9900;}
td.balrep-warn { background: #CC9900 !important; font-weight: bold; }
td.balrep-3-deficit { background: #ffff00 !important; font-weight: bold; }

.balrep-send-container {
  position: relative;
/*  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f0f0f0;
  padding: 60px 60px 0 60px;
  min-height: 275px;*/
  background: white none repeat scroll 0 0;
  border: 2px solid rgba(0, 0, 0, 0.3);
  min-height: 200px;
  padding: 54px;
  margin-top: 1.5em;
}

.balrep-send-container .balrep-send {
	border: 1px solid transparent;
	position: relative;
	background-color: transparent;
	background-image: url('/images/opstool-mpdReport/icon-mail.png');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto 100px;
	width: 100% !important;
	min-height: 100% !important;
	opacity: 0.5;
}

.balrep-send-container .balrep-indicator {
    height: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.balrep-send span { display: block; text-align: center; text-align: center; font-weight: bold; line-height: 2em; }
.balrep-send span.first { margin-top: 100px; }
