<div class="opsportal-stage-container opsportal-padding-bottom-2x">

<div class="gen-btn-list">
	<h2 class="opsportal-stage-title">Balance Report Tool &nbsp;|&nbsp; US Staff</h2>
	<ul class="list-unstyled list-inline">
	<li><a href="#" class="btn opsportal-btn opsportal-btn-dk" role="button">1. Upload CSV Report</a></li>
	<li><a href="#" class="btn opsportal-btn opsportal-btn-dk" role="button">2. Review Report</a></li>
	<li><a href="#" class="btn opsportal-btn opsportal-btn-dk active-btn" role="button">3. Send Email</a></li>
	</ul>
</div>

<div class="opsportal-stage-main">

		<div class="row">
			<div class="col-md-4 col-md-push-4 opsportal-margin-top-2x">
				
				<div class="balrep-send-container">
					<div class="balrep-send">
						<span class="opsportal-margin-top first"><a href="" title="Click to send report" class="btn opsportal-btn opsportal-btn-dk">Click to send email report to <em>Regional Leaders</em></a></span>
						<span class="opsportal-margin-top"><a href="" title="Click to send report" class="btn opsportal-btn opsportal-btn-dk">Click to send email report to <em>Staff</em></a></span>
					</div>
				</div>
				
			</div>
		</div>
		
	</div> <!-- end .opsportal-stage-main -->
</div> <!-- opsportal-stage-container -->