
<div class="opsportal-stage-main">

		<div class="row">
			<div class="col-md-4 col-md-push-4 opsportal-margin-top-2x">
				
				<div class="balrep-send-container">
					<div class="balrep-send">

						<span class="opsportal-margin-top first">
						  <a href="#send-regional" title="Click to send report" class="btn opsportal-btn opsportal-btn-dk">
						      Click to send email report to <em>Regional Leaders</em>
						  </a>
				        </span>

						<span class="opsportal-margin-top">
						  <a href="#send-individual" title="Click to send report" class="btn opsportal-btn opsportal-btn-dk">
						      Click to send email report to <em>Staff</em>
						  </a>
						</span>
						
						<div class="memo">
						  <label for="mpd-report-memo">Memo:</label>
                          <textarea id="mpd-report-memo" placeholder="You may enter an optional note here that will be added to each report that is emailed"></textarea>
						</div>
						
					</div>
					<div class="balrep-indicator"><span></span></div>
				</div>
				
			</div>
		</div>
		
</div> <!-- end .opsportal-stage-main -->
